<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head_main">
</head>
<body>
<nav th:replace="fragments :: html_top_navigation_bar_main"></nav>

<div class="container">
    <h3 style="text-align: center">About us</h3>
    <hr>
</div>

<div class="container">

    <div class="story">
        <div class="info">
            <h2>Foundation</h2>
            <p>Our company was founded in 2022, Moldova, Chisinau. The idea of starting an online shop crossed our minds when we were going to order some clothes from "ASOS".
            We were not pleased with the provided service. We decided to make people's life better by creating an alternative online shop with a
                lange variety of products from coats to shorts.
                </p>
            <p>The idea of the name "Bertha" came from a famous novel "The Witcher", our creator was a fan of this universe.</p>
<!--            <a href="#" class="btn">START</a>-->
        </div>

        <img src="/images/bertha_about1.jpg" class="story-img" alt="shop picture">
    </div>
    <hr>
    <div class="story second">
        <div class="info">
            <h2>Our team</h2>
            <p>Our team consists of some modern and qualified specialists from the whole world. Working together brought us a lot of happy unforgettable moments
            and we are happy to see many users on our site every day. Our creator and designer is Dmitrii Cravcenco, who has a great experience in this field.
                Our team consists of some modern and qualified specialists from the entire world. Working together brought us a lot of happy unforgettable moments
                and we are happy to see many users on our site every day. </p>
<!--            <a href="#" class="btn">MORE</a>-->
        </div>

        <img src="/images/bertha_about2.jpg" class="story-img" alt="shop picture">
    </div>


</div>

<!--Footer-->
<div th:replace="fragments :: footer"></div>

</body>
</html>


