<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head_details"></head>
<body>

<!--Top navigation-->
<nav th:replace="fragments :: html_top_navigation_bar_main"></nav>

<div class="container my_container">

    <i class="fa-solid fa-cart-shopping"></i>
    <br>
    <br>
    <br>
    <br>
    <h2 style="text-align: center">Details</h2>
    <hr/>
    <div id="hidden_image1" class="hidden_images" th:text="@{'/images/' + ${product.images.get(0).image_dir}}"></div>
    <div id="hidden_image2" class="hidden_images" th:text="@{'/images/' + ${product.images.get(1).image_dir}}"></div>
<!--    <a class="btn btn-secondary" th:href="@{/}" style="margin-left: 6em">Back</a>-->
    <div class="" style="margin-top: 1em">
        <div class="image_side">
            <img alt="" th:src="@{'/images/' + ${product.images.get(0).image_dir}}" class="product_img" id="my_image">

                <div class="flex-gallery">
                    <div class="item img1"></div>
                    <div class="item img2"></div>
                </div>
        </div>

        <div class="product_info">
            <h5 id="productId" style="display: none" th:text="${product.getId()}"></h5>
            <h5 id="productQty" style="display: none" th:text="1"></h5>
            <h5 th:text="'Type: ' + ${product.type.getName()}"></h5>
            <br>
            <h5 th:text="'Brand: ' + ${product.brand.getName()}"></h5>
            <br>
            <h5 th:text="'Season: ' + ${product.season.getName()}"></h5>
            <br>
            <h5 th:text="'Size: ' + ${product.size.getName().equals('LARGE') ? 'L' : (product.size.getName().equals('SMALL') ? 'S' : (product.size.getName().equals('MEDIUM') ? 'M' : product.size.getName()))}"></h5>
            <br>
            <h5 th:text="'Color: ' + ${product.color.getName()}"></h5>
            <br>
            <h5 th:text="'Sex: ' + ${product.sex.getName().equals('M') ? 'Man' : 'WOMAN'}"></h5>
            <br>
            <h5 th:text="'Price: ' + ${product.price} + '$'"></h5><br><br>
            <h4 id="alert_item_added" style="display: none; color: green; font-weight: 500;">Item has been added to the cart!</h4>
            <a th:href="@{/login}" class="btn btn-secondary btn-lg" style="padding: 1.5em 3em;"><h3>Add To Cart</h3></a>
            <a sec:authorize="hasAnyRole('ROLE_USER')" th:if="${qty > 0}" class="btn btn-secondary btn-lg" style="padding: 1.5em 3em;" id="addToCart"><h3>Add To Cart</h3></a>
            <h4 th:unless="${qty > 0}" class="text-danger">Product is out of stock!</h4>
            <a sec:authorize="hasAnyRole('ROLE_USER')" th:unless="${qty > 0}" class="btn btn-secondary btn-lg" style="padding: 1.5em 3em;"><h3>Add To Cart</h3></a>
        </div>

    </div>
</div>

<!--Footer-->
<div th:replace="fragments :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>

<script>
    var token = "[[${_csrf.token}]]";
    var header = "[[${_csrf.headerName}]]";

    console.log("script " + token + " " + header);
    $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
    });
    var productId = "[[${product.id}]]";
</script>

<script th:src="@{/js/add_to_cart.js}"></script>
<script th:src="@{/js/moving_images.js}"></script>

</body>
</html>


