<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: html_head_main"></head>
<body>

<!--Top navigation-->
<nav th:replace="fragments :: html_top_navigation_bar_main"></nav>

<!--Main content-->
<div th:replace="fragments :: html_products_main"></div>

<!-- Page Navigation -->
<nav th:if="${totalPages > 1}">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a style="color: #343a40" class="page-link" href="#" tabindex="-1" aria-disabled="true" th:if="${currentPage > 1}"
               th:href="@{'/page/' + ${currentPage - 1} + '?sortField=price' + '&sortDirection=asc' + '&brand=' + ${brand != null ? brand : ''}
                       + '&color=' + ${color != null ? color : ''} + '&type=' + ${type != null ? type : ''} + '&sex=' + ${sex != null ? sex : ''}
                       +  '&size=' + ${size != null ?size : ''} + '&season=' +  ${season != null ?season : ''} }"> Previous </a>
            <span style="color: #343a40; " class="page-link" th:unless="${currentPage > 1}"> Previous </span>
        </li>
        <span style="color: #343a40" th:each="i: ${#numbers.sequence(1, totalPages)}">
            <li>
            <a style="color: #343a40" class="page-link" th:if="${i != currentPage}" th:href="@{'/page/' + ${i} + '?sortField=price' + '&sortDirection=asc' + '&brand=' + ${brand != null ? brand : ''}
                       + '&color=' + ${color != null ? color : ''} + '&type=' + ${type != null ? type : ''} + '&sex=' + ${sex != null ? sex : ''}
                       +  '&size=' + ${size != null ?size : ''} + '&season=' +  ${season != null ?season : ''} }">[[${i}]] </a>
            <span style="color: #343a40; background: lightgray" class="page-link" th:unless="${i != currentPage}">[[${i}]] </span>
            </li>
        </span>
        <li class="page-item">
            <a style="color: #343a40" class="page-link" th:if="${currentPage < totalPages}"
               th:href="@{'/page/' + ${currentPage + 1} + '?sortField=price' + '&sortDirection=asc' + '&brand=' + ${brand != null ? brand : ''}
                       + '&color=' + ${color != null ? color : ''} + '&type=' + ${type != null ? type : ''} + '&sex=' + ${sex != null ? sex : ''}
                       +  '&size=' + ${size != null ?size : ''} + '&season=' +  ${season != null ?season : ''} }"> Next </a>
            <span style="color: #343a40" class="page-link" th:unless="${currentPage < totalPages}"> Next </span>
        </li>
    </ul>
</nav>

<!--Footer-->
<div th:replace="fragments :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script th:src="@{/js/add_to_cart.js}"/>

</body>
</html>
