<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h2>Catalog</h2>
    <hr/>

<!--    <a th:href="@{/addEmployeeForm}" class="btn btn-primary mb-2">Add Employee</a>-->

    <div class="d-flex justify-content-between border border-3 rounded m-5 " th:each="product: ${products}">
        <img alt="" th:src="@{'/images/' + ${product.images.get(0).image_dir}}" style="height: 400px" id="my_image">
        <p th:text="${product.brand.getName()} + ${product.type.getName()} + ' for ' + ${product.season.getName()}"></p>
        <p th:text="'$' + ${product.price} + ' only ' + ${product.quantity} + ' ramain'"></p>
    </div>


    <table class="table table-bordered table-striped text-center" id="employee-table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Sex</th>
            <th>Size</th>
            <th>Type</th>
            <th>Season</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td><img alt="" th:src="@{'/images/' + ${product.images.get(0).image_dir}}" style="height: 200px"></td>
            <td th:text="${product.brand.getName()}"></td>
            <td th:text="${product.color.getName()}"></td>
            <td th:text="${product.sex.getName()}"></td>
            <td th:text="${product.size.getName()}"></td>
            <td th:text="${product.type.getName()}"></td>
            <td th:text="${product.season.getName()}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a th:href="@{/details-product(id=${product.id})}" class="btn btn-info">Details</a>
                <a th:href="@{/addToCart(productId=${product.id})}" class="btn btn-danger ml-2">Add To Cart</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>

<script>
    $(document).ready(function() {
        $("#employee-table").DataTable({
            'aoColumnDefs':[{
                'bSortable':false,
                'aTargets': [-1] // columns right to left -1, -2, -3, ... => -1 is Actions column
            }]
        });
    })
</script>

</body>
</html>


