<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head_main"></head>
<body>

<!--Top navigation-->
<nav th:replace="fragments :: html_top_navigation_bar_main"></nav>

<div class="container my_container_register_form">

    <h2 style="text-align: center">Register</h2>
    <hr/>

    <div class="container">
        <h4 style="text-align: center" th:if="${user_exists}" class="text-danger">User with such a login already exists! Try another one.</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form action="#" th:action="@{/register}" th:object="${account}" method="POST" class="box">
                        <input type="text" id="firstname" th:field="*{firstName}" placeholder="First name" required>
                        <input type="text" id="lastname" th:field="*{lastName}" placeholder="Last name" required>
                        <input type="email" id="email" th:field="*{email}" placeholder="Email" required>
                        <input type="password" th:field="*{password}" id="password" placeholder="Password" required>
                        <a class="forgot text-muted" th:href="@{/login}">Already have an account?</a>
                        <input type="submit" name="" value="Register">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Footer-->
<div th:replace="fragments :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>


</body>
</html>


